                    <div id="ember577" role="tabpanel" class="ember-view tab-pane fade">
                                    <div class="paper border-top-0">
                                      <h4>Example pool settings:</h4>
                                      <pre><code>
                    <i>Custom Pool Name</i>: <strong>EPOOL</strong> or any what you want
                    <i>Algorithm</i>: <strong>DaggerHashimoto</strong>
                    <i>Stratum Hostname or IP</i>: <strong>sg.clo.epool.network</strong>
                    <i>Port</i>: <strong>8008</strong>
                    <i>Username</i>: you wallet <strong>wallet</strong> address
                    <i>Password</i>: <strong>#</strong>
                                    </code></pre>
                                      <div class="text-center"><img src="/img/nicehash-6a55fec7cab4dc5e635f3a5d8f2a9765.png"
                                                                    style="max-width: 100%">
                                      </div>
                                    </div>

                                  </div>